In [1]:
import pandas as pd
import re
import fuzzy_pandas as fpd

All_MPs = pd.read_excel("all_MPs_bd_April7-2.xls")
#imported it as an xls because csv's were doing funny things to the names 
All_MPs.head(2)

,Name,Type.of.Parliamentarian,Riding.Senatorial.Division,Province.Territory,Gender,Political.Affiliation,Full,Start_date,End_date,Birth.Date.Combined
0,"Lind, James (Jim) Gordon",MP (1968/06/25 - 1972/10/29)\nMP (1965/11/08 -...,Middlesex (1968/06/25 - 1972/10/29)\nMiddlesex...,Ontario\nOntario,M,Liberal Party of Canada (1965/11/08 - 1972/10/29),James Lind,1965-11-08 00:00:00,1972-10-29 00:00:00,1913-03-08 00:00:00
1,"Hébert, Jacques",Senator (1983/04/20 - 1998/06/21),Wellington (1983/04/20 - 1998/06/21),Quebec,M,Liberal Party of Canada (1983/04/20 - 1998/06/21),Jacques Hébert,1983-04-20 00:00:00,1998-06-21 00:00:00,1923-06-21 00:00:00

In [2]:
MPs_parliament = pd.read_csv ('MPs_parliament.csv')
MPs_parliament.head(2)

                      Name  number
0  Beaubien, Arthur-Lucien      14
1  Beaubien, Arthur-Lucien      15

In [3]:
#change the name format into first last with no comma to match MPs_parliament['Full'] column
MPs_parliament['Last'],MPs_parliament['First'] = MPs_parliament['Name'].str.split(',', 1).str
MPs_parliament["First_Last"] = MPs_parliament["First"]  + ' ' + MPs_parliament["Last"] 
MPs_parliament = MPs_parliament.drop(columns=['First', 'Last'])
MPs_parliament.head()

ipykernel_launcher:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

                      Name  number               First_Last
0  Beaubien, Arthur-Lucien      14   Arthur-Lucien Beaubien
1  Beaubien, Arthur-Lucien      15   Arthur-Lucien Beaubien
2  Beaubien, Arthur-Lucien      16   Arthur-Lucien Beaubien
3  Beaubien, Arthur-Lucien      17   Arthur-Lucien Beaubien
4  Beaubien, Arthur-Lucien      18   Arthur-Lucien Beaubien

In [13]:
matches = fpd.fuzzy_merge(MPs_parliament, All_MPs,
                left_on=['First_Last'],
                right_on=['Full'],
                ignore_case=True,
                ignore_nonalpha=True,
                ignore_nonlatin=True,
                ignore_order_words=True,
                method='levenshtein',
                keep='match',
                join='full_outer', 
                )
matches.shape

(11918, 2)

In [12]:
matches.tail()

     First_Last                    Full
4727                         James Ross
4728                Lavoie-Thérèse Roux
4729                     Jean Desmarais
4730             Saint-Raymonde Germain
4731              Miville-Julie Dechêne

In [7]:
print(matches.shape)
print(MPs_parliament.shape) 
print(All_MPs.shape)

(3585, 2)
(6868, 3)
(2286, 10)